@use "header";
@use "variaveis";
@use "hero";
@use "about";
@use "protagonists";
@use "pictures";
@use "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Supernatural, sans-serif;
}

body{
    background-color: variaveis.$corFundo;
}

a{
    color: variaveis.$corTextoPrincipal;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: Supernatural;
    src: url(../../assets/fonts/Supernatural_Knight.ttf);
    font-weight: 400;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: calc($fontSize + 10px);
    color: variaveis.$corTextoSecundario;
}

@mixin title($fontSize: 22px){
    font-size: $fontSize;
    line-height: calc($fontSize + 10px);
    font-weight: bold;
    color: variaveis.$corTextoPrincipal;
}

.text--big {
    @include text(16px);
}

.text{
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(24px);
}

.title {
    @include title;
}

.title--small {
    @include title(18px);
}

